a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    
  }
  a:hover {
    opacity: 1;
  }
  li{
    margin: 0 15px;
  }
  li:first-child{
    margin-left: 0; 
  }
  li:last-child{
    margin-right: 0;  
  }
  .background{
    background-image: url("https://photo.comptoir.fr/asset/mot-cle/607/montagnes-rocheuses-607705-1440x670.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:1536px;
    height:690px

}
.welcome-tittle {
  
    margin-top: 200px;
    padding: 0;
  
    box-sizing: content-box;
    font-size:30px;
    color:black;
   
   
    line-height: 75px;
 
    text-align: center;
    font-family: 'Times New Roman', Times, serif
  }
  .social{

margin-left:1300px;
margin-top: 7px;
    margin-bottom: 10px;
   
   }
   .cord{

    margin-right:1240px;
   margin-top:-28px;

    
       
       }