<html class="background"><nav class="navbar navbar-expand-sm bg-primary navbar-dark" 
style="background-color: green!important; height: 60px">
  <!-- Links -->
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <title>Home</title>
      <meta name="description" content="Travel">
      <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:900" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  <ul class="navbar-nav" >
    
     
     <h2 style="color:#011d2e; margin-top: 5px;margin-left:20px">SNA</h2> <h2 style="margin-left: 5px
      ; margin-top: 5px"><a href="#">Booking</a></h2>
      <li class="nav-item" style="margin-left: 810px ;margin-top: 5px">
          <a routerLink="register-form" class="nav-link" routerLinkActive="active"
           style="color: white!important">Inscription</a>
        </li> 
        <li class="nav-item" style="margin-top: 5px">
          <a routerLink="login" class="nav-link" routerLinkActive="active" 
          style="color: white!important">Connexion</a>
      </li>
 
    <li class="nav-item" style="margin-top: 5px" >
        <a routerLink="add" class="nav-link" routerLinkActive="active" 
        style="color: white!important">Ajouter Ticket</a>
    </li>
    <li class="nav-item" style="margin-top: 5px; margin-right:5px;">
        <a routerLink="tickets" class="nav-link" routerLinkActive="active"
         style="color: white!important">Mes tickets</a>
    </li>
  </ul>
</nav>
  <router-outlet></router-outlet>
  
  <div class="welcome-tittle">
    <h1>
      <strong style="text-transform:uppercase; font-size: 30px;">
         Bienvenue dans notre agence de réservation </strong></h1>
      <h1 style="margin-top:30px;text-transform:uppercase;font-size: 30px;"> 
        <strong>SNABooking</strong></h1>
      <h5 style="margin-top: 35px;"> Si vous souhaitez réserver le meilleur Ticket<br> Inscrivez-vous</h5>
    </div>
    
<footer class="footer" style="background-color: green; height: 40px;">
  <!-- <div>
    <p style="margin-right: 1250px; margin-top: 10px;">
        NUM TEL:72145984/54126874 
      </p></div> -->
<div class="social">
    <a href="#" class="fa fa-youtube" style="margin-left: 10px;"></a>
    <a href="#" class="fa fa-google"  style="margin-left: 10px;"></a>
    <a href="#" class="fa fa-facebook" style="margin-left: 10px;"></a>
   <a href="#" class="fa fa-twitter" style="margin-left: 10px;"></a>
   <a href="#" class="fa fa-linkedin" style="margin-left: 10px;"></a>
   <a href="#" class="fa fa-instagram" style="margin-left: 10px;"></a>
     </div>
     <div class="cord">
     <p >
        NUM TEL: 71547265 - 22446446
      </p>
    </div>
     
</footer>
</html>