.background{
    background-image: url("https://photo.comptoir.fr/asset/mot-cle/607/montagnes-rocheuses-607705-1440x670.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:1536px;
    height:630px

}

.Form{
    width:400px;
   
   
    
padding: 35px;
    border-radius: 10px;
    opacity: 0.94
;
height:350px;

}