 <html>
<body class="background">
    <div  style="margin-left:80px; padding-top:50px">
  <table class="Form"  >
<h3 style="margin-left: 210px ;padding-top:25px">Reservation</h3>
<div [hidden]="submitted" >
  <form (ngSubmit)="onSubmit()">
    <div class="form-group"style="padding-top:25px" >
      <tr>
        <td> 
      <label for="firstName" style="margin-left: 30px">Nom</label>
    </td>
    <td>
    <label for="lastName" style="margin-left: 50px">Prénom</label>
  </td>
  </tr>
  <tr>
    <td>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="ticket.firstName" name="firstName"  placeholder="Nom" style="margin-left: 30px">
    </td>
    <td>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="ticket.lastName" name="lastName" placeholder="Prenom" style="margin-left: 50px">
    </td>
  </tr>
    </div>

    <div class="form-group">
        <tr>
            <td>
                <label for="emailId" style="margin-left: 30px">Email</label>
        </td>
        <td>
            <label for="contact" style="margin-left: 50px">Contact</label>
      </td>
      </tr>
      <tr>
          <td>
              <input type="text" class="form-control" id="emailId" required [(ngModel)]="ticket.emailId" name="emailId" placeholder="Email" style="margin-left: 30px">
          </td>
          <td>
              <input type="number" class="form-control" id="contact" required [(ngModel)]="ticket.contact" name="contact" placeholder="Numéro de tel " style="margin-left: 50px">
          </td>
        </tr>
          </div>
     
 


    <div class="form-group">
        <tr>
            <td>
                <label for="adresse" style="margin-left: 30px">Adresse</label>
        </td>
        <td>
            <label for="date"style="margin-left: 50px">Date</label>
      </td>
      </tr>
      <tr>
          <td>
              <input type="text" class="form-control" id="adresse" required [(ngModel)]="ticket.adresse" name="adresse" placeholder=" Votre adresse" style="margin-left: 30px">
          </td>
          <td>
              <input type="date" class="form-control" id="date" required [(ngModel)]="ticket.date" name="date" placeholder="Date De Vol" style="margin-left: 50px ;width:255px;">
          </td>
        </tr>
          </div>

    <div class="form-group">
        <tr>
            <td>
                <label for="departure"style="margin-left: 30px">Departure</label>
        </td>
        <td>
            <label for="destination" style="margin-left: 50px">Destination</label>
      </td>
      </tr>
      <tr>
          <td>
              <input type="text" class="form-control" id="departure" required [(ngModel)]="ticket.departure" name="departure" placeholder="Lieu de depart" style="margin-left: 30px">
          </td>
          <td>
              <input type="text" class="form-control" id="destination" required [(ngModel)]="ticket.destination" name="destination" placeholder="Destination" style="margin-left: 50px">
          </td>
        </tr>
          </div>
<div style="padding-top:10px;">
    <button type="submit" class="btn btn-success " style="margin-left: 230px; background-color:#02588f">Reserver</button>
  </div>
  </form>
</div>

<div [hidden]="!submitted" >
  <h4 style=" margin-top: 150px;  font-size:50px;text-align:center;">Soumis <br>Avec succès!</h4>
  <!-- <button class="btn btn-success" (click)="newticket()">Add</button> -->
</div>

</table>
</div>
</body>
</html>
