.background{
    background-image: url("https://photo.comptoir.fr/asset/mot-cle/607/montagnes-rocheuses-607705-1440x670.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:1536px;
    height:630px

}

.Form{
    width:578px;
    margin: 0 auto;
    
    
    padding: 80px;
    border-radius: 10px;
    opacity: 0.94
;
height:530px;
padding-top: 80px
}
.btn {
   padding: 10px 30px;}
